<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="https://gentle-pebble-0103cf70f.4.azurestaticapps.net" />
                <add name="Access-Control-Allow-Methods" value="GET, OPTIONS" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
